<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Continuous Integration with Docker</title><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/boviewsotstrap.min.css">
</head>
<body>
    <header><% include ../partials/header %></header>
    
    <main class="container">
        <div class="row">
                <div class="jumbotron">
                    <h1>Continuous Integration Work Flow.</h1>
                    <p>Continuous Integration and Deployment Example With Nodejs and Docker</p>
                    <p class="text-center text-muted">This page has been viewed <%= visits %> times.</p>
                </div>
        </div>
    </main>

    <footer><% include ../partials/footer %></footer>
</body>
</html>